<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="../../admin/css/common.css" rel="stylesheet" />
    <link href="../../admin/css/error.css" rel="stylesheet" />
</head>
<body>
<div class="content">
    <img src="../../admin/images/404.svg" alt="">
    <div class="content-r">
        <h1> 404 </h1>
        <p> 抱歉，页面未找到 </p>
        <a type="button" class="xxb-btn xxb-btn-primary" href="/"> 返回首页 </a>
    </div>
</div>
</body>
</html>